*{
  color: #f8f8f8;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1F213A;
  height: 100%;
  margin: 0;
}

a {
  color: #00B7FF;
}

div {
  border-radius: 8px;
  background-color: #3B3E6D;
  padding: 8px;
  margin-bottom: 5px;
}

.ruoskButton{
  background-color: #565B9F;
  border: none;
  box-shadow: 5px 5px rgba(0,0,0,0.3);
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.ruoskButton:hover{
  background-color: #1F213A;
  transition: 0.3s;
}
