extends layout

block content
  div
    h1= title
    p Welcome to #{title}
    p #{description}

  div
    form(action="/users", method="get")
      input(type="text", name="msg").ruoskButton
      span(onclick="ConnectionTest()").ruoskButton
      input(type="submit", value="Press me").ruoskButton


  div
    table
      tr
        th Messages
      tr #{msg_content}
